.clubify {
  color: rgb(99, 33, 220);
  position: relative;
}

.clubify img {
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: -20px;
  transition: opacity 0.2s ease, left 0.2s ease;
  pointer-events: none;
}

.clubify:hover img {
  opacity: 1;
  left: 0;
}
